* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
       background-color: #e0e0e0;

}


#header-index {

    background-color: rgb(255, 255, 255);

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.2),
        /* Sombra externa */
        inset 0 1px 2px rgba(255, 255, 255, 0.3);
    /* Brilho interno */
    ;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}

#nav-list {
    padding: 5px;
    background-color: rgba(199, 199, 199, 0.281);

}

#list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    list-style: none;
    width: 100%;
    gap: 30px;
}

#list-header li:first-child {
    margin-right: auto;
}

.item-list {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.item-list a {
    font-size: 17px;
    text-decoration: none;
    color: black;

}

.item-list img {

    width: 100%;
    max-width: 130px;
    height: auto;
    padding: 0;
    margin: 0;


}

#main-index {

    height: 100%;

}

#content-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 150px;

}

#sec-mi {
    flex: 1;
    font-family: teko;
    display: flex;
    margin-left: 30px;
    flex-direction: column;

    gap: 70px;

    height: 100%;
    width: 100%;
    padding: 50px;
    


}

#divtext {}

#sec-mi h1 {
    font-size: 50px;


}

#sec-mi p {
    font-size: 25px;
    color: #555;


}


     #btn-go {
      background: #00e600;
      color: white;
      padding: 14px 28px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
      width: 35%;
    }

    #btn-go:hover {
      background: #00cc00;
    }



#sec-mii {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#sec-mii img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 45px;

}



#secpags {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    background-color: #ffffff75;
    padding: 60px;
    justify-content: center;
    border-radius: 16px;
    gap: 50px;
   

}

#introducaopags {
   
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;



}

#introducaopags>h1 {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #000000;

}

#introducaopags>p {
    width: 100%;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: justify;
}

#spantitlepags {
    color: #1ae000;

}

#infopag {
    flex: 1.3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cardone {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 610px;
    background: linear-gradient(135deg, #02fd94, #015822);
    font-weight: bold;
    color: white;

}

.fa-money-check-dollar {
    font-size: 40px;
}

.fa-credit-card {
    font-size: 30px;

}

.fa-bolt {
    font-size: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 300px;
    font-weight: bold;
    color: white;


}

.two {
    background: linear-gradient(135deg, #fd02dc, #3801ff);
}

.three {
    background: linear-gradient(135deg, #fd027f93, #c20041);
}

#achievements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;

}

#achievements>div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#achievements>div>h1 {

    color: #1ae000;
    font-size: 50px;

}

#achievements>div>h2 {

    color: #030303;

    font-size: 25px;

}

#achievements>div>p {

    color: #525252;

    font-size: 17px;
    margin-top: 20px;

}

#seletor-categorias {
    position: absolute;
    left: 82%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 6px;






}

#serviços {
    display: flex;
    align-items: center;

    flex-direction: column;

}

#title-disponiveis {

    font-family: Arial, Helvetica, sans-serif;
    margin: 70px 0px 100px 0px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-size: 30px;
}

.categoria {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.serviçocss {


    min-height: 350px;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
   background-color: #ffffff;
    padding: 0px 0px 10px 0px;
    border-radius: 9px;
    box-shadow: 1px 2px 5px rgba(177, 176, 176, 0.356);

}

.serviçocss>a>h1 {

    text-align: center;
    font-size: 20px;
    color: #271f1f;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;


}

.serviçocss p {
    color: #555;
    font-size: 15px;

}

.serviçocss img {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 9px;

}

.serviçocss>.btn-service {
    align-items: center;
    justify-content: center;
}

.fa-star {
    color: #555;
    font-size: 13px;

}
#maps{
    

    margin: 0 auto;
    display: flex;
    flex-direction: row;
   text-align: justify;
    width: 92%;
    background-color: #ffffff75;
    padding: 60px;
    justify-content: center;
    border-radius: 16px;
    gap: 50px;
     
    
}

#mapstext >  div > h1{
    font-size: 30px;

    font-family: Arial, Helvetica, sans-serif;

}
.fa-location-dot{
    font-size: 50px;
    color: red;
}
#mapstext{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
#mapsimg{
    display: flex;
    flex-direction: column;
    flex: 2.5;
    width: 100%;
}
#maps > div > img {

    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: 200px;
}
.botao-orcamento {
  padding: 10px 20px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 50px;
}

.botao-orcamento:hover {
  background-color: #c40000;
}
footer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 92%;
    background-color: #ffffff75;
    padding: 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    border-radius: 16px;
}
.footerc{
    width: 100%;
    flex:1;
}
.footerc > ul{

    list-style: none;
    display: flex;
    flex-direction: column;
   gap: 10px;
} 
.footerc > ul > li{

  color: #525252;
  cursor: pointer;
} 
.footer-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.footer-container > div > h4{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    
}
.footer-container > div > p{
     color: #525252;
    margin-bottom: 20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}
.bottom > a{
    text-decoration: none;
    color: #000000;
}
#mainform{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;



}
form {

  display: flex;
  flex-direction: column;
  gap: 12px;
}

form label {
  font-weight: bold;
}

form input,
form select,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #00cc00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #00aa00;
}
#orcamento{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#endereco{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #02fd94;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#btn-avancar{
  
     position: absolute;
    top: 70%;
    left: 60%;
   
}
#btn-voltar{
    display: none;
  
     position: absolute;
    top: 70%;
    left: 40%;
   
}
